:root {
  --success: #4caf50;
  --danger: #f44336;
  --info: #2194f3;
  --success-bg: rgba(76, 175, 79, 0.1);
  --danger-bg: rgba(244, 67, 54, 0.1);
  --info-bg: rgba(233, 150, 243, 0.1);
}

.toast__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.toast {
  width: 20rem;
  border-radius: 6px;
  border: 2px solid var(--danger);
  background-color: var(--danger-bg);
  padding: 2rem;
  position: relative;

  transition: transform 0.18s linear;
  @starting-style {
    transform: translateX(100%);
  }
}

.toast__container[data-position="top-right"] {
  top: 1rem;
  right: 1rem;
}

.toast__container[data-position="top-left"] {
  top: 1rem;
  left: 1rem;
}

.toast__container[data-position="bottom-right"] {
  bottom: 1rem;
  right: 1rem;
}

.toast__container[data-position="bottom-left"] {
  bottom: 1rem;
  left: 1rem;
}

.toast[data-type="info"] {
  border-color: var(--info);
  background-color: var(--info-bg);
}

.toast[data-type="danger"] {
  border-color: var(--danger);
  background-color: var(--danger-bg);
}

.toast[data-type="success"] {
  border-color: var(--success);
  background-color: var(--success-bg);
}

.toast .toast__close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: x-large;
}

.toast .toast__content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 95%;
  flex-direction: column;
}

.toast .toast__info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.toast .toast-title-desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.toast .toast__content .toast__cta {
  max-width: 100px;
  max-height: 100px;
}

.toast .toast__progress {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--info);
  left: 0;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.exit__toast {
  animation: exitAnimation 0.18s linear forwards;
}

@keyframes exitAnimation {
  to {
    transform: translateX(120%);
  }
}
